
.DS_Store
model/.DS_Store
._.DS_Store
._.git
._alexnet_Train.m
._dataset-resized
._modAlexNet_test.m
._model
._myFile.avi
._myFile_1.avi
._videoTest.m
dataset-resized/._cardboard
dataset-resized/._glass
dataset-resized/._metal
dataset-resized/._paper
dataset-resized/._plastic
dataset-resized/._trash
model/._net.onnx
